* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #fff;
}

/* ------------------- nav---------------------*/
nav {
  width: 100%;
  min-height: 60vh;
  background: rgb(0, 179, 239);
}

nav .topbar {
  width: 100%;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.logo img {
  width: 120px;
}

.topbar .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul li {
  list-style-type: none;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  transition: 0.4s all;
}

.menu ul li:hover a {
  color: orangered;
}

.user_select button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

.user_select button:hover {
  background: orangered;
  color: white;
}

nav h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-top: 1.5rem;
}

@media screen and (max-width: 650px) {
  nav {
    width: 100%;
    padding-bottom: 2rem;
  }

  .topbar {
    flex-direction: column;
  }

  .menu ul li {
    padding: 0.6rem;
  }

  .menu ul li a {
    font-size: 1rem;
  }

  .user_select {
    margin-top: 1.6rem;
  }

  nav h1 {
    font-size: 2rem;
  }
}

/* ------------------- checker form here---------------------*/
.email_checker_form {
  width: 60%;
  margin: 2rem auto;
  background: #fff;
  border-radius: 10px;
  min-height: 200px;
  padding: 2rem;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3), -2px -2px 8px rgba(0, 0, 0, 0.3);
}

.email_checker_form>p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  color: #555;
}

.email_checker_form #mail_form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 1.5rem auto;
}

.email_checker_form input[type="email"] {
  height: 50px;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  width: 100%;
  border-radius: 5px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.email_checker_form button {
  height: 50px;
  padding: 0.5rem 1.5rem;
  min-width: 100px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  margin-left: 1.5rem;
  display: block;
  background: #5a06ef;
  cursor: pointer;
}

.file_form {
  width: 70%;
  margin: 0 auto;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background: #5a06ef;
  column-gap: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

.email_checker_form form input[type="file"] {
  width: 60%;
  height: 50px;
  font-size: 1.2rem;
  box-sizing: border-box;
  text-align: center;
  margin-top: 1.5rem;
  opacity: 0;
  cursor: pointer;
}

.file_form>div {
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  column-gap: 1.5rem;
  cursor: pointer;
}

.file_form img {
  width: 40px;
  margin-left: 1.5rem;
}

@media screen and (max-width: 650px) {
  .email_checker_form {
    width: 90%;
    margin-top: 2rem;
  }

  .email_checker_form>p {
    font-size: 1rem;
  }

  .email_checker_form #mail_form {
    width: 100%;
    margin: 0.6rem auto;
  }

  .file_form {
    width: 100%;
    margin-top: 1.5rem;
    height: 40px;
  }

  .file_form .djd {
    display: none;
  }

  #checkEmail {
    font-size: 0.8rem;
    height: 40px;
  }

  .email_checker_form button {
    height: 40px;
  }
}

/* ------------------- lowest person checker---------------------*/

.person_result {
  width: 60%;
  border-radius: 5px;
  min-height: 100px;
  margin: 2rem auto;
  background: #fff;
  padding: 1rem;
  box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.1), 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.person_result__heading {
  width: 100%;
  min-height: 100px;
  border-bottom: 1px solid lightslategray;
  display: flex;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem;
}

.person_result__heading h2 {
  font-weight: 300;
  color: #434c5e;
}

.person_result__heading p {
  font-family: 10px;
  color: #434c5e;
}

.person_result__heading img {
  width: 44px;
}

.person_result_table {
  width: 100%;
}

.person_result_table table {
  width: 100%;
  border-collapse: collapse;
}

@media screen and (max-width: 650px) {
  .person_result {
    width: 95%;
    padding: 0.5rem;
  }

  .person_result__heading h2 {
    font-weight: 300;
    font-size: 1.2rem;
  }
  .person_result__heading img {
    width: 30px;
  }
  .person_result__heading p {
    margin-top: 5px;
    font-size: 12px;
    color: #434c5e;
  }
  .person_result_table {
    width: 100%;
    font-size: 12px;
    margin-top: 1.5rem;
  }

}

/* ------------------- result box here---------------------*/

.result_box {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem;
  min-height: 400px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1), -2px -1px 1px rgba(0, 0, 0, 0.1);
}

.result_box .checked_detials {
  width: 100%;
  border-collapse: collapse;
}

.result_box .checked_detials tr,
td,
th {
  border: 1px solid gray;
  height: 40px;
  text-align: center;
}

.result_box .checked_detials td {
  font-size: 14px;
}

.result_box .checked_detials th {
  height: 60px;
}

.result_box .checked_detials tr td:nth-child(2) {
  width: 100px;
}

.result_box .checked_detials tr td:nth-child(3) {
  width: 100px;
}

.result_box .checked_detials tr td:nth-child(6) {
  width: 100px;
}

.result_box_heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-basis: 3;
  padding: 0.5rem;
}

.checked_detials {
  margin-top: 2rem;
}

.download_btn {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.download_btn button {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  background: whitesmoke;
  cursor: pointer;
  color: #5a06ef;
}

.download_btn button i {
  font-size: 1.2rem;
  margin-right: 0.5rem;
  color: #5a06ef;
}

.result_overview {
  flex: 2;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  row-gap: 1rem;
}

.result_overview>div {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  background: lightslategrey;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

.result_overview>div:first-child {
  background: RGB(12, 166, 120);
}

.result_overview>div:nth-child(2) {
  background: RGB(64, 192, 87);
}

.result_overview>div:nth-child(3) {
  background: #f03e3e;
}

.result_overview>div:nth-child(4) {
  background: #f03e3e;
}

.result_overview>div:nth-child(5) {
  background: #ee6363;
}

.result_overview>div:nth-child(6) {
  background: #e8590c;
}



.select_view {
  flex: 1;
  padding: 1rem;
}

.select_view select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1), -2px -1px 1px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}


.result_textarea {
  display: none;
}

@media screen and (max-width: 650px) {
  .select_view {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .result_overview>div {
    width: 100%;
  }

  .result_box {
    width: 100%;
  }

  .result_box_heading {
    flex-direction: column;
  }

  .checked_detials {
    display: none;
  }

  .result_textarea {
    display: block;
    width: 100%;
    min-height: 200px;
    margin-top: 1rem;
    padding: 1rem;
  }

  .result_textarea textarea {
    width: 100%;
    min-height: 200px;
    max-height: 300px;
    resize: none;
    padding: 1rem;
    font-size: 1rem;
    outline-color: #5a06ef;
    border-color: #5a06ef;
    border-radius: 5px;
  }
}

/* ------------------- pricing starts here---------------------*/

.pricing{
  width: 100%;
  margin-top: 2rem;
}

.pricing_heading h1 {
  color: #5a06ef;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem auto;
  border-bottom: 3px solid #5a06ef;
  width: fit-content;
}
.pricing_heading p {
  text-align: center;
  color: #5a06ef;
  font-size: 13px;
}

.pricing_cards{
  width: 70%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.pricing_card{
  text-align: center;
  width: 250px;
  padding:1.5rem 0.5rem;
  border-radius: 10px;
  background: #333;
  color: #fff;
  border: none;
  border: 5px solid #333;
  transition: border 500ms ease;
}

.pricing_card:hover{
  border: 5px solid #5a06ef;
}
.pricing_card h2{
  font-size: 2.5rem;
  font-weight: 300;
  margin: 5px 0;
}
.pricing_card .card_desc{
  font-size: 0.8rem;
  font-weight: 300;
}

.buy_now{
  padding: 0.7rem 1.5rem;
  background: #5a06ef;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  border: none;
  margin-top: 1rem;
}
.pricing_card_desc ul {
  list-style-type: none;
}

.pricing_card_desc ul li{
  text-align: left;
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.pricing_card_desc ul li span{
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin: 0 10px;
}

/* ------------------- faq starts here---------------------*/

.faq_container{
  width: 60%;
  margin: 2rem auto;
}
.faq_container h1{
  color: #5a06ef;
  font-size: 2.5rem;
  text-align: center;
  margin: 1rem auto;
  border-bottom: 3px solid #5a06ef;
  width: fit-content;
}

.faq_box ul {
  list-style-type: none;
}

.faq_box ul li{
  width: 100%;
  padding: 1.5rem;
  background: lightgray;
  margin-top: 1rem;
  border-radius: 5px;
  position: relative;
  user-select: none;
}

.content{
  margin-top: 1rem;
  display: none;
  font-size: 14px;
  width: 80%;
  border-top: 1px solid #555;
  padding-top: 1rem;
}

.content.active{
  display: block;
}
.plus_icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #434c5e;
}